# Keil uVision build files
*.axf
*.hex
*.bin
*.map
*.lst
*.o
*.obj
*.out
*.d
*.crf
*.dep
*.htm
*.lnp
*.orc
*.sct

# Keil folders
Objects/
Listings/
Debug/
RTE/
Build/
Output/

# Keil project settings
*.uvgui.*
*.uvopt*
*.uvproj*
*.bak

# OS junk
.DS_Store
Thumbs.db

# Editor junk
.vscode/